@model AppUser
@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<title>Admin Profil</title>
<!-- page start-->
<div class="row">
    <aside class="profile-nav col-lg-3">
        <section class="panel">
            <div class="user-heading round">
                <h1>@Model.AppUserDetail.FirstName  @Model.AppUserDetail.LastName</h1>
                <p>@Model.Email</p>
            </div>

            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="@Url.Action("AdminProfile", "AdminProfile", new { id = Model.ID })"> <i class="icon-user"></i> Profil</a></li>
                <li><a href="@Url.Action("UpdatePassword", "AdminProfile", new { id = Model.ID })"> <i class="icon-edit"></i> Şifre Değiştir </a></li>
                <li><a href="@Url.Action("UpdateProfile", "AdminProfile", new { id = Model.ID })"> <i class="icon-edit"></i>Profil Düzenle</a></li>
            </ul>

        </section>
    </aside>
    <aside class="profile-info col-lg-9">
        <section class="panel">
            <div class="panel-body bio-graph-info">
                <h1>Hakkında</h1>
                <div class="row">
                    <div class="bio-row">
                        <p><span>İsim </span>: @Model.AppUserDetail.FirstName</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Soyad </span>: @Model.AppUserDetail.LastName</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Cinsiyet </span>: @Model.AppUserDetail.Gender</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Kullanıcı Adı: </span>: @Model.UserName</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Email </span>: @Model.Email</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Adres </span>: @Model.AppUserDetail.Address</p>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>

<!-- page end-->